@import "pages/home";
@import "pages/about";
@import "pages/projects";
@import "pages/contact";
@import "pages/navBar";
@import "pages/mediaQueries";

@import "base/animation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
